@import "tailwindcss";
@theme {
  --color-bg: #fffaf5;
  --color-card: #ffffff;
  --color-input: #fafaf9;
  --color-border: #eadfd2;
  --color-text: #57534e;
  --color-subtext: #78716c;
  --color-accent: #fb7185;
  --color-completed: #fb7185;
  --color-delete-base: #fda4af;
  --color-delete-hover: #f43f5e;
  --color-progress-bar: #f43f5e;
  --color-progress-track: #ffe4e6;

  --color-darkBg: #0c0a09;
  --color-darkCard: #1c1917;
  --color-darkInput: #292524;

  --color-darkText: #e7e5e4;
  --color-darkSubtext: #78716c;

  --color-darkCompleted: #e11d48;
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Nunito", sans-serif;
}

::selection {
  background: var(--color-accent);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fffaf5;
}

::-webkit-scrollbar-thumb {
  background-color: #fb7185;
  border-radius: 8px;
  border: 2px solid #fffaf5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f43f5e; /* slightly darker on hover */
}
* {
  scrollbar-width: thin;
  scrollbar-color: #fb7185 #fffaf5;
}
